.contact {
  padding: 80px 0;
}

.contact__holder {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.box__item {
  width: calc(25% - 30px);
  min-height: 200px;
  padding: 15px 10px;
  background-color: #FEFEFE;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.box__wrapper {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 18px;
  border: 2px dashed #229ED9;
  border-radius: 50%;
}

.box__icon {
  width: 26px;
  height: 26px;
  object-fit: contain;
}

.box__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}

.box__link,
.box__text {
  width: 240px;
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  color: #424242;
  text-decoration: none
}

.box__name{
  font-size: 15px;
  line-height: 18px;
  color: #424242;
}

.box__link:hover {
  text-decoration: underline
}

.box__list {
  @include list-unstyled;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__list-item{
  display: inline-block;
  height: 18px;
}

.contact__form {
  width: 100%;
  padding: 40px;
  background-color: #FEFEFE;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-info__holder {
  width: calc(50% - 15px);
}

.form-info__input,
.form__textarea {
  width: 100%;
  padding: 15px;
  background-color: #FFFFFF;
  opacity: 0.3;
  border: 1px solid #212121;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    color: #424242;
  }

  &:focus{
    opacity: 1;
    outline: #229ED9;
    border: 1px solid #229ED9;
  }
}

.form__comment {
  margin-bottom: 30px;
  resize: none;
  width: 100%;
}

.form__textarea {
  height: 200px;
  resize: none;
}

.form__accept {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.form__accept-input {
  margin-right: 15px;
}

.form__accept-text {
  font-size: 13px;
  line-height: 15px;
  color: #111111;
}

.form__accept-link {
  font-size: 13px;
  color: #229ED9;
  text-decoration: none;
}

.form__wrapper-btn {
  padding: 15px 30px;
  border: none;
  background-color: #229ED9;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity .4s ease;

  &:hover{
    opacity: 0.8;
  }
}

@include breakpoint-down (1100px){
  .contact{
    padding: 60px 0;
  }

  .contact__holder-box{
    margin-top: -10px;
    margin-bottom: -10px;
  }

  .box__item{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(50% - 10px);
  }
}

@include breakpoint-down (780px){
  .contact__form{
    padding: 20px;
  }

  .box__wrapper{
    margin-bottom: 10px;
  }

  .box__title{
    margin-bottom: 5px;
  }

  .box__item{
    min-height: 150px;
  }

  .form-info{
    width: 100%;
    margin-bottom: 15px;
    flex-direction: column;
  }

  .form__comment{
    margin-bottom: 15px;
  }

  .form-info__holder{
    margin-bottom: 15px;
    width: 100%;

    &:last-child{
      margin-bottom: 0;
    }
  }

  .form__wrapper-btn{
    font-size: 12px;
    padding: 10px 20px;
  }
}

@include breakpoint-down (540px){
  .contact{
    padding: 40px 0;
  }

  .box__item{
    padding: 12px 5px;
  }

  .box__text, .box__link{
    width: 100%;
    font-size: 12px;
  }

  .box__name{
    font-size: 12px;
  }

  .box__wrapper{
    padding: 10px;
    width: 45px;
    height: 45px;
  }

  .box__title{
    font-size: 16px;
  }
}