.features{
  padding: 80px 0;
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
  background-attachment: fixed;
}

.features__entrance{
  margin-bottom: 60px;
}

.features__heading{
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.features__title{
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: #272D2D;

  &:not(:last-child)::after{
    margin: 0 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #3A86FF;
    content: '';
  }
}

.features__description{
  width: 50%;
  font-size: 14px;
  line-height: 30px;
  color: #9FB4C7;
  margin: 0 auto;
  text-align: center;
}

.card__list{
  @include list-unstyled;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__item{
  padding: 30px 16px;
  border-radius: 15px;
  width: calc(33.3% - 20px);
  transition: all 0.4s ease;

  &:hover{
    background-color: #f7f7f7;
  }
}

.card__title{
  color: #3A86FF;
  margin-bottom: 20px;
}

.card__text{
  color: #272D2D;
  font-size: 14px;
  line-height: 28px;
  width: 85%;
  margin: 0 auto;
}

.card__icon{
  margin-bottom: 25px;
}