.header {
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 146px;
  height: 52px;
  object-fit: contain;
}

.header__link {
  width: 146px;
  height: 52px;
  display: inline-block;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-size: 16px;
  line-height: 21px;
  color: #212121;
  text-decoration: none;
  transition: color .4s ease;

  &:hover {
    color: #229ED9;
  }
}

.active {
  color: #229ED9;
}

// * animation btns styles
.btn-holder {
  position: relative;
  margin: 0 auto;
}

.call-btn{
  display: inline-block;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}
.call-btn__green {
  background-color: #4ECB71;
  animation: btn 1.5s linear infinite;
}

.call-btn__red {
  background-color: #EC4646;
  animation: btn-red 2s linear infinite;
}

// * red animation
@keyframes btn-red {
  0% {
    box-shadow: rgba(240, 72, 72, 0.5) 0px 0px 0px 0px;
  }

  40% {
    box-shadow: rgba(240, 72, 72, 0.5) 0px 0px 0px 5px;
  }

  60% {
    box-shadow: rgba(240, 72, 72, 0.5) 0px 0px 0px 5px;
  }

  100% {
    box-shadow: rgba(240, 72, 72, 0.5) 0px 0px 0px 0px;
  }
}

// * green animnation
@keyframes btn {
  0% {
    box-shadow: rgba(78, 203, 113, 0.5) 0px 0px 0px 0px;
  }

  40% {
    box-shadow: rgba(78, 203, 113, 0.5) 0px 0px 2px 7px;
  }

  60% {
    box-shadow: rgba(78, 203, 113, 0.5) 0px 0px 2px 7px;
  }

  100% {
    box-shadow: rgba(22, 219, 78, 0.5) 0px 0px 0px 0px;
  }
}

.nav__btn {
  position: relative;
  z-index: 1000;
  margin-left: 20px;
  display: none;
  background-image: url(../../icons/coolicon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-nav {
  display: none;
}

.nav__list.show {
  overflow: hidden;
  left: 0;
}

@include breakpoint-down (880px) {
  .nav__item:not(:last-child) {
    margin-right: 24px;
  }
}

@include breakpoint-down(780px) {
  .nav__list {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all .4s ease;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .item-nav {
    display: block;
  }

  .nav__item:not(:last-child) {
    margin: 0;
    margin-bottom: 25px;
  }

  .nav__logo {
    margin-bottom: 50px;
  }

  .nav__btn {
    display: block;
    z-index: 121212;
  }

  .nav__link {
    font-weight: 700;
    font-size: 25px;
    line-height: 18px;
    color: #212121;
  }

  .nav__phone {
    padding: 6px 10px;
    font-size: 13px;
    line-height: 15px;
  }
}

@include breakpoint-down (540px) {
  .header__link {
    width: 100px;
    height: 32px;
    display: inline-block;
  }

  .header__logo {
    width: 100px;
    height: 32px;
  }
}