.hero {
  padding: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(59, 89, 152, 0.8)), url(../../img/hero-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  text-align: center;
}

.just-holder{
  position: relative;
  padding: 4px;
  margin: auto;
}

.just-btn{
  margin: 4px;
  border: none;
  background-color: red;
  padding: 10px 15px;
  color: #fff;
  border-radius: 12px;
  animation: btn 3s linear infinite;
}

@keyframes btn{
  0%{
    box-shadow: rgba(78, 203, 113, 0.5) 0px 0px 0px 0px;
  }

  40%{
    box-shadow: rgba(78, 203, 113, 0.5) 0px 0px 0px 12px;
  }

  60%{
    box-shadow: rgba(78, 203, 113, 0.5) 0px 0px 0px 12px;
  }

  100%{
    box-shadow: rgba(22, 219, 78, 0.5) 0px 0px 0px 0px;
  }
}


.hero__title {
  margin: 0;
  margin-bottom: 40px;
  color: #fff;
  width: 900px;
  font-weight: 800;
  font-size: 80px;
  line-height: 82px;
}

.hero__text {
  margin: 0;
  margin-bottom: 40px;
  font-size: 34px;
  width: 900px;
  color: #fff;
  line-height: 40px;
}

.hero__link {
  padding: 20px 40px;
  background-color: #4ECB71;
  border-radius: 60px;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.hero__btn {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.hero-page {
  border-radius: 0;
  padding: 40px 40px 60px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../../img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.hero-page__list {
  margin-bottom: 20px;
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.hero-page__item {
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    margin: 0 15px;
    background-image: url(../../icons/breadcrumb-item.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 8px;
    height: 18px;
    content: '';
  }
}

.hero-page__link{
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
}

.hero-link--active{
  color: #229ED9;
}

.hero-page__title{
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #212121;
}