.nav__list {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

.nav__link {
  text-decoration: none;
  color: #E8E9EB;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: color 0.4s ease;

  &:hover{
    color: #3A86FF;
  }

  &:hover .bx-chevron-down{
    color: #3A86FF;
  }
}

.bx-chevron-down{
  padding-left: 5px;
}

.header.sticky .logo__text, .header.sticky .nav__link, .header.sticky .bx-chevron-down {
  color: #272D2D;

  &:hover{
    color: #3A86FF;
  }
}

.header.header.sticky .nav__link:hover .bx-chevron-down{
  color: #3A86FF;
}