.service-card {
  padding: 80px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.service-card__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(25% - 20px);
  text-align: center;
  transition: all ease 0.4s;

  &:hover {
    background-color: #FEFEFE;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
}

.service-card__img{
  width: 100%;
  object-fit: cover;
}

.card-body {
  min-height: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}

.card-body__text {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #424242;
}

.card-body__link {
  margin-top: auto;
  display: block;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  line-height: 27px;
  text-align: center;
  color: #FEFEFE;
  background-color: #229ED9;
  transition: opacity .4s ease;

  &:hover{
    opacity: 0.8;
  }
}

@include breakpoint-down (980px){
  .service-card{
    padding: 50px 0;
  }

  .service-card{
    margin-top: -5px;
    margin-bottom: -5px;
    flex-wrap: wrap;
    width: 100%;
  }

  .service-card__box{
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(50% - 10px)
  }
}

@include breakpoint-down (540px){
  .service-card__box{
    margin-bottom: 15px;
    width: 100%;
  }
}